{
  "presets": ["react",     ["env", {
    "targets": {
      "node": "current"
    }
  }]],
  "env": {
    "development": {
      "presets": [
        ["react-hmre"]
      ]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}

