{
  "presets": ["react",     ["env", {
    "targets": {
      "node": "current"
    }
  }]],
  "env": {
    "development": {
      "presets": [
        ["react-hmre"]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 9,
              "uglify": true
            }
          }
        ],
        "react",
        "stage-1"
      ]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}

