@import "variables";
.button {
  background-color: $dark-grey;

}
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid $dark-grey;
}

.button[disabled="disabled"] {
  background: $light-grey;
}

.button[disabled="disabled"]:focus {
  outline: none;
}


/*
a {
  border: 2px solid #006600;
  border-radius: 5px;
  background-color: #009900;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin : 20px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
}
a:hover {
  border: 2px solid #009900;
  background-color: #00cc00;
}
*/

