$colour-main: #FFFFFF;
$colour-accent: #1CD5AC;
$colour-accent-dark: #24B296;
$colour-text: #3F4854;
$colour-tertiary: #ECEDEE;
$colour-no-concern: $colour-accent;
$colour-concern: #eb8487;

$width-md-min: 768px;
$width-inner: 500px;


$the-red:        #ba3e48;
$the-darker-red: #800813;

$white:          #fff;
$lighter-grey:   #ddd;
$light-grey:     #ccc;
$grey:           #aaa;
$greyer:         #777;
$dark-grey:      #444;
$darker-grey:    #222;

$dark-green:     #007b27;

$banner-bg:      #c73636;
